<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {%block head_title%} myCRYPTO {%endblock%}</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    
  </head>
<body> 
  {% include 'components/header.html'%}
  {% include 'components/navbar.html'%}
  
    <main class="main">
      {%block contenido%}
      <h1>
        {% block page_title %}
        {% endblock page_title %}
      </h1>
      {%endblock contenido%}      
    </main>
    {% include 'components/footer.html'%}

</body>
</html>