{% extends "base.html"%}

{%block head_title%}
  COMPRA DE CRIPTOS 
{%endblock head_title%}  

{% block page_title%}
  COMPRA DE CRIPTOS
{% endblock page_title%}


{%block contenido%}
   {{super()}}
 
    <form method="POST" action="/purchase/">
     {{ form.csrf_token }}   
     {{form.id}}
    
     <div class="lista_from">
      {{form.from_currency.label}}
      {{form.from_currency(class="selec1")}} 
     </div>
    
     <div class="lista_to">
      {{form.to_currency.label}}
      {{form.to_currency(class="selec2")}}
      </div>
    
      <div class="cantidad">
      {{form.from_quantity.label}}
      {{form.from_quantity (class="cantidadfrom", placeholder="Cantidad") }}
      </div>
      
      <div class="submit_calcular">
      {{form.submit_calcular}}
      </div>
     
   
      {{form.to_quantity.label}}
      {{cantidadCambiada}}
    
     
      {{form.P_U.label}}
       {{P_U}}
     
   

      <div class="submit_aceptar">
      {{form.submit_aceptar}}
      </div>
      
</form>
{% endblock contenido%}