{% extends "base.html"%}

{%block head_title%}
  COMPRA DE CRIPTOS 
{%endblock head_title%}  

{% block page_title%}
  COMPRA DE CRIPTOS
{% endblock page_title%}


{%block contenido%}
   {{super()}}
 
<form method="POST" action="/purchase/">
    {{ form.csrf_token }}
    
    <div class="list-from">
      <label for='lista_from'>From:</label>
      {{form.lista_from(class="selec1")}}
    </div>
    <div class="list-to">
      <label for='lista_to'>To:</label>
      {{form.lista_to(class="selec2")}}
    </div>
  
    <label for='cantidad'>Q:</label>
    {{form.cantidad(class="quanfrom", placeholder="Cantidad") }}

    {{form.submit_calcular(class="boton_calcular")}}

    <label for="Q"class="quanto">Q:</label>
   
    <label for="PU">P.U.:</label>
   

    {{ form.submit_aceptar(class="boton_aceptar")}}

</form>
{% endblock %}